
<div id="editData" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" id="editDta">

        </div>
    </div>

</div>

<div id="createPop" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <g:render template="modalCreate"/>
        </div>
    </div>

</div>

