.demo { position: relative !important; }
      .demo i {
        position: absolute !important;
		bottom: 10px !important;
		right: 8px !important;
		top: auto !important;
		cursor: pointer !important;
		color : #000 !important;
      }